<html>
<body>

	test hello world - front end
	{% if  logged %}

	User is authenticated

	<form action="{% url 'visual_cloud_front_end:logout' %}" method="post">
	{% csrf_token %}

		<input type="submit" value="Logout">
		
	</form>

	{% else %}

	User is not authenticated
	<form action="{% url 'visual_cloud_front_end:home' %}" method="post">
	{% csrf_token %}
		<div>
			<label for="login_ak">AK</label>
			<input id="login_ak" name="login_ak" type="text" value="90UNFNG16GIGP9AX9MV8"/>
		</div>
		<div>
			<label for="login_sk">SK</label>
			<input id="login_sk" name="login_sk" type="text" value="ZQM7M9OVDH6WOubuL9zFTWnOlcnrwJdX4tTQGut1"/>
		</div>
		<div>
			<label for="login_region">Region</label>
			<input id="login_region" name="login_region" type="text" value="eu-west-2"/>
		</div>
		<input type="submit" value="Submit">
		{% if error %}
		<div>
			{{ error }}
		</div>
		{% endif %}
	</form>
	{% endif %}
</body>
</html>