{% extends "visual_cloud_front_end/base.html" %}
{% load i18n %}

{% block "content" %}


	front end
	{% if  logged %}

	User is authenticated

	<form action="{% url 'visual_cloud_front_end:logout' %}" method="post">
	{% csrf_token %}

		<input type="submit" value="Logout">
		
	</form>

	{% else %}

	User is not authenticated
	<div id="logincard" class="card">
		<form action="{% url 'visual_cloud_front_end:home' %}" method="post">
			{% csrf_token %}
			
			{{ formlogin }}
			
			<input type="submit" value="Submit">

			{% if error %}
			<div>
				{{ error }}
			</div>
			{% endif %}
		</form>
	</div>

	{% endif %}
{% endblock %}